@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cormorant, sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* headings and logo */

h1, h2 {
    font-family: Cormorant, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0000ff;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 120%;
    letter-spacing: 5px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: red;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}