@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cormorant, sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* headings and logo */

h1, h2 {
    font-family: Cormorant, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0000ff;
    background-color: cadetblue;
    text-align: center;
    padding: 25px;
    line-height: 50px;
}

#logo {
    float: left;
    font-size: 320%;
}

/* navigation links */

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
      
}

#menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

#menu a:hover {
    border-bottom: 1px solid #0000ff;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

/* animates zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 6s;
animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
